/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* 
HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.navigation__logo {
  margin-left: 2rem;
  font-size: 1.2rem;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  font-size: 1.2rem;
}

.navigation__item {
  color: #fff;
}

.navigation-social {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
  gap: 1.5rem;
}

.navigation-social--icon {
  width: 1.3rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(133deg)
    brightness(103%) contrast(101%);
}

/* First Section */

.primary__section {
  background-image: url(./assests/imgs/pexels-tima-miroshnichenko-5327487.jpg);
  height: 54.35rem;
  width: auto;
  background-position: top;
  background-size: cover;
  position: relative;
}

.primary__section div {
  position: absolute;
  top: 40%;
  background-image: linear-gradient(
    to right bottom,
    rgba(244, 1, 1, 0.5),
    rgba(255, 61, 51, 0.7)
  );
  clip-path: polygon(0 0, 85% 0, 40% 100%, 0% 100%);
  background-size: contain;
  width: 45%;
  height: 60%;
}

.primary__section--heading {
  color: #fff;
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  width: 50%;
  padding: 7rem 0rem 2rem 3.5rem;
}

.btn{
  padding: 1rem 3rem;
  text-align: center;
  background: transparent;
  margin-left: 3.5rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.btn > span {
  display: inline-block;
  padding: 8px 16px;
  background: linear-gradient(45deg, #f40101 50%, #fff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #fff 50%, transparent 50%);
  z-index: -1;
}


.btn > span,
.btn:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
}

.btn:hover > span,
.btn:hover:after {
  background-position: 0;
  font-size: 1.1em;

  color: #fff;
  /*For IE*/
}

.btn-white {
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}

.secondary__section {
  background-color: black;
  text-align: center;
  padding: 6rem 1rem;
}

.secondary__section--subheading,
.secondary__section--heading {
  color: #fff;
}

.secondary__section--heading {
  font-size: 2rem;
  padding-bottom: 5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.secondary__section--subheading {
  color: #f40101;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.secondary__section--card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 6rem;
}

.card--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.card__image {
  background: transparent;
  width: 4rem;
  filter: invert(10%) sepia(83%) saturate(6535%) hue-rotate(357deg)
    brightness(99%) contrast(128%);
}

.card__title {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}

.card__description {
  color: gray;
  width: 70%;
}

.tertiary__section {
  background-color: #151515;
  text-align: center;
  padding: 6rem 1rem;
}

.class-item--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tertiary__section--card {
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #f0f0f0;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.tertiary__section--card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}
.tertiary__section--card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-weight: normal;
  text-transform: uppercase;
  padding: 50px;
}
.tertiary__section--card p,
.tertiary__section--card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}
.tertiary__section--card p {
  inset: auto auto 80px 30px;
}
.tertiary__section--card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}
.tertiary__section--card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}
.tertiary__section--card:hover p,
.tertiary__section--card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}
.tertiary__section--card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.second-button {
  padding: 1rem 3rem;
  text-align: center;
  background: transparent;
  margin-top: 4.5rem;
  text-transform: uppercase;
}

.bg-video {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.bg-video__content {
  height: 100%;
  width: 100%;
}

.fourth__section {
  position: relative;
}

.fourth__section--header {
  font-size: 2.5rem;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  color: #fff;
}

.fourth__section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifth__section {
  background-color: #000000;
  margin-top: -0.5rem;
}

.fifth__section--titles {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  width: 30rem;
  padding-bottom: 6rem;
  cursor: pointer;
}
.card__side {
  transition: all 0.8s ease;
  position: absolute;
  height: 40rem;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #151515;
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(244, 1, 1, 0.5),
    rgba(255, 61, 51, 0.7)
  );
}
.card__side--back-2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(244, 1, 1, 0.5),
    rgba(255, 61, 51, 0.7)
  );
}
.card__side--back-3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(244, 1, 1, 0.5),
    rgba(255, 61, 51, 0.7)
  );
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: linear-gradient(
      to right bottom,
      rgba(244, 1, 1, 0.5),
      rgba(255, 61, 51, 0.7)
    ),
    url(./assests/imgs/pexels-davner-ribeiro-4574154.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(
      to right bottom,
      rgba(244, 1, 1, 0.5),
      rgba(255, 61, 51, 0.7)
    ),
    url(./assests/imgs/pexels-ivan-samkov-4164761.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(
      to right bottom,
      rgba(244, 1, 1, 0.5),
      rgba(255, 61, 51, 0.7)
    ),
    url(./assests/imgs/pexels-cesar-galeão-3289711.jpg);
}
.card__heading {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 0.3rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(244, 1, 1, 0.5),
    rgba(255, 61, 51, 0.7)
  );
}
.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(244, 1, 1, 0.5),
    rgba(255, 61, 51, 0.7)
  );
}
.card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(244, 1, 1, 0.5),
    rgba(255, 61, 51, 0.7)
  );
}
.card__details {
  color: #fff;
  margin-left: 1rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
}
.card__details ul li {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
  position: absolute;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.card__plan {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 6rem 1rem;
}

.sixth__section {
  background-color: #151515;
}

.sixth__section--contact-me {
  display: flex;
  flex-direction: row;
  padding: 3rem 1rem;
}

.sixth__section--contact-me div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact-me__icons {
  background-color: red;
  border-radius: 50%;
  padding: 1rem;
  width: 10%;
}

.contact-me__description {
  color: #fff;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 4rem 1rem;
  background-color: #000000;
  color: #fff;
  justify-content: space-evenly;
  align-items: center;
}

.footer-description {
  width: 20rem;
  font-size: 0.9rem;
}

.footer-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-links ul li a {
  color: #eee;
}

.footer-links ul {
  padding: 0;
}

.footer-links ul li {
  line-height: 2rem;
  position: relative;
}

.footer-links ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #f40101;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.footer-links ul li:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.contact-me__first-section {
  background-image: url(./assests/imgs/pexels-lukas-669584.jpg);
  height: 35rem;
  width: auto;
  background-position: top;
  background-size: cover;
  position: relative;
}

.contact-me__first-section--header {
  color: #fff;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-me__second-section {
  background-color: #151515;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 6rem 1rem;
  align-items: center;
}

.second__section--contact-me > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.second__section--contact-me {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.second__section--contact-me div img {
  width: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  margin-top: 4rem;
  gap: 3rem;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input input,
textarea {
  width: 18rem;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
  font-weight: 300;
  transition: 300ms;
  background-color: transparent;
  color: #fff;
}

.input input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 1px 0 0 #f40101;
  border-color: #f40101;
}

.label,
.label-textarea {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 300ms ease;
}

.label label {
  display: block;
  font-size: 14px;
  color: #d9d9d9;
}

input:focus + .label,
input:not(:placeholder-shown) + .label {
  transform: translateY(-27px);
}

input:focus + .label label,
input:not(:placeholder-shown) + .label label {
  font-weight: 500;
  color: #fff;
}

.btn-submit {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #f40101;
  color: #fff;
  font-size: 14px;
  width: 6.9rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  align-self: end;
}

.btn-submit:hover {
  cursor: pointer;
  color: #f40101;
  transition: 300ms ease;
}

textarea {
  padding-top: 2rem;
}

.label-textarea {
  padding-bottom: 6rem;
  font-size: 14px;
}

textarea:focus + .label,
textarea:not(:placeholder-shown) + .label {
  transform: translateY(-27px);
}

textarea:focus + .label label,
textarea:not(:placeholder-shown) + .label label {
  font-weight: 500;
  color: #fff;
}

#map {
  height: 30rem;
}
